appdata/*

*.zip
secrets/plex_claim
*.log
secrets/*
.env
.env.save

secrets/plex_claim
#  By mistake i put the configs of bazarr in the root and now it keeps creating it ! just ignore it for now 
config/* 
secrets/plex_claim
